## for Mac OS
.DS_Store
## Xcode build files
build/
DerivedData/
## Xcode settings
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3*.xcodeproj/*
## App packaging
*.ipa
*.dSYM.zip
*.dSYM
## Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!whisper-ios.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
## library
Pods/*
Carthage/Build/
## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
*.xcuserstate
*.swp
xcuserdata/
*.moved-aside
!.gitkeep
.vscode/*

# ASR
*.bin

# Reference
# https://qiita.com/higan96/items/36d3877a85ab8fc36ea7
# https://ios-docs.dev/xcode-gitignore/
